FORMAT: 1A
HOST: https://ecf36daf.ngrok.io/connect

# Zephyr Cloud REST API
Zephyr for Jira(Cloud) REST API allows to access test assets.

Authentication: Use JWT authentication for Zephyr REST API authentication, provide Zephyr AccessKey and secretkey. Zephyr server responds
with a cookie containing acpt token. Please use cookies for authentication.

Note: JWT authentication requires username, accountId and tenantId to generate accessKey and secretKey.
If you use custom JWT generator, please use the following context as JWT claim, Since accountId is mandatory field:
<br />
&nbsp;&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"context": {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"user": {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"accountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234"
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />}<br />
JWT Reference: https://developer.atlassian.com/cloud/jira/platform/understanding-jwt/

#foreach( $resource in $resources )
# Group $resource.name
$resource.groupNotes

#foreach( $operation in $resource.operations )
$DOUBLE_HASH $operation.name [$operation.path]
$TRIPLE_HASH $operation.summary [$operation.requestType]
$operation.description

#if ($operation.pathParam.size() > 0)
+ Parameters
#foreach( $pathParam in $operation.pathParam )
    + $pathParam.name ($pathParam.isRequired, $pathParam.type) ... $pathParam.description
#end

#end

#if ($operation.queryParams.size() > 0)
+ Parameters
#foreach( $queryParam in $operation.queryParams )
    + $queryParam.name ($queryParam.isRequired, $queryParam.type) ... $queryParam.description
#end

#end

#if ($operation.jsonRequest) 
+ Request ($operation.consumes)

#foreach( $jsonRequestSingleLine in $operation.jsonRequest )
        $jsonRequestSingleLine
#end

#end

    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


## end of if operation.jsonRequest
#if ($operation.jsonResponse)
+ Response $operation.responseCode ($operation.produces)

#foreach( $jsonResponseSingleLine in $operation.jsonResponse )
        $jsonResponseSingleLine
#end

#end
## end of ifoperation.jsonResponse

#end
## end of operation

#end
## end of resource
