FORMAT: 1A
HOST: http://localhost:2990/jira

# Zephyr Cloud REST API
Zephyr for Jira(Cloud) REST API allows to access test assets.

Authentication: Use JWT authentication for Zephyr REST API authentication, provide Zephyr AccessKey and secretkey. Zephyr server responds
with a cookie containing acpt token. Please use cookies for authentication.

Note: JWT authentication requires username and tenantId to generate accessKey and secretKey.

#foreach( $resource in $resources )
# Group $resource.name
$resource.groupNotes

#foreach( $operation in $resource.operations )
$DOUBLE_HASH $operation.name [$operation.path]
$TRIPLE_HASH $operation.summary [$operation.requestType]
$operation.description

#if ($operation.pathParam.size() > 0)
+ Parameters
#foreach( $pathParam in $operation.pathParam )
    + $pathParam.name ($pathParam.isRequired, $pathParam.type) ... $pathParam.description
#end

#end

#if ($operation.queryParams.size() > 0)
+ Parameters
#foreach( $queryParam in $operation.queryParams )
    + $queryParam.name ($queryParam.isRequired, $queryParam.type) ... $queryParam.description
#end

#end

#if ($operation.jsonRequest) 
+ Request ($operation.consumes)

#foreach( $jsonRequestSingleLine in $operation.jsonRequest )
        $jsonRequestSingleLine
#end

#end
## end of if operation.jsonRequest
#if ($operation.jsonResponse)
+ Response $operation.responseCode ($operation.produces)

#foreach( $jsonResponseSingleLine in $operation.jsonResponse )
        $jsonResponseSingleLine
#end

#end
## end of ifoperation.jsonResponse

#end
## end of operation

#end
## end of resource
